button {
  outline: none !important; }

h1 {
  font-size: 25px;
  color: #ffffff;
  font-family: MediumHel;
  text-transform: uppercase; }

h2 {
  font-size: 25px;
  color: #353644;
  font-family: MediumHel;
  text-transform: uppercase; }

h4,
h3 {
  font-size: 18px;
  color: #353644;
  font-family: MediumHel;
  text-transform: uppercase; }

h5 {
  font-size: 18px;
  font-family: MediumHel; }

.text {
  font-family: RegularHel;
  font-size: 14px;
  color: #515365; }

.menu {
  font-size: 14px;
  color: #353644;
  font-family: MediumHel; }

a {
  font-size: 14px;
  color: #428bdc;
  text-decoration: none;
  font-family: RegularHel; }

li {
  list-style-type: none; }

a:hover {
  color: #428bdc;
  text-decoration: none; }

.container {
  max-width: 1266px; }

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'kokohsoft';
  src: url("../fonts/kokohsoft.ttf?rqm90p") format("truetype"), url("../fonts/kokohsoft.woff?rqm90p") format("woff"), url("../fonts/kokohsoft.svg?rqm90p#kokohsoft") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: MediumHel;
  src: url("../fonts/helveticaneuemedium.ttf"); }
@font-face {
  font-family: Hel;
  src: url("../fonts/helveticaneue.ttf"); }
@font-face {
  font-family: RegularHel;
  src: url("../fonts/SVN-Helvetica Neue Condensed Regular.ttf"); }
body {
  font-family: Hel;
  line-height: 1.6; }
  body .koko-phone {
    background: #ef2a2a; }
  body .koko-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
  body .koko-facebook {
    background: #3b5998; }
  body .koko-youtube {
    background: #ff2501; }
  body .koko-google {
    background: #dd4b39; }
  body .koko-twitter {
    background: #50abf1; }
  body .koko-sharing {
    background: #555555; }
  body .koko-briefcase:before {
    content: "\e900"; }
  body .koko-computer:before {
    content: "\e901"; }
  body .koko-eye:before {
    content: "\e902"; }
  body .koko-facebook:before {
    content: "\e903"; }
  body .koko-google:before {
    content: "\e904"; }
  body .koko-icon:before {
    content: "\e905"; }
  body .koko-instagram:before {
    content: "\e906"; }
  body .koko-light:before {
    content: "\e907"; }
  body .koko-like:before {
    content: "\e908"; }
  body .koko-linkedin:before {
    content: "\e909"; }
  body .koko-medal:before {
    content: "\e90a"; }
  body .koko-money:before {
    content: "\e90b"; }
  body .koko-next:before {
    content: "\e90c"; }
  body .koko-pc-coding:before {
    content: "\e90d"; }
  body .koko-pdf:before {
    content: "\e90e"; }
  body .koko-phone:before {
    content: "\e90f"; }
  body .koko-phone-call:before {
    content: "\e910"; }
  body .koko-sharing:before {
    content: "\e911"; }
  body .koko-skype:before {
    content: "\e912"; }
  body .koko-star:before {
    content: "\e913"; }
  body .koko-students:before {
    content: "\e914"; }
  body .koko-twitter:before {
    content: "\e915"; }
  body .koko-youtube:before {
    content: "\e916"; }
  body .koko-prev {
    transform: rotate(180deg); }
  body p.st_textf {
    max-width: 780px;
    text-align: center;
    margin: auto;
    margin-bottom: 35px; }
  body .menufixtop {
    position: fixed;
    top: 0 !important;
    z-index: 500;
    height: 63.19px !important; }
  body .menufixtopimg {
    width: 60%; }
  body .h2_title {
    margin-top: 45px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    position: relative; }
    body .h2_title:after {
      position: absolute;
      top: 36px;
      font-size: 18px;
      left: calc(50% - 32.5px);
      content: "\e913";
      font-family: 'kokohsoft' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding: 0 20px;
      background: #ffffff; }
    body .h2_title::before {
      content: '';
      width: 230px;
      height: 1px;
      background: black;
      position: absolute;
      top: 45px;
      left: calc(50% - 115px); }
  body .st5 h2.h2_title-bgimg,
  body .st7 h2.h2_title-bgimg {
    color: #ffffff !important;
    text-align: center; }
    body .st5 h2.h2_title-bgimg:after,
    body .st7 h2.h2_title-bgimg:after {
      color: #ffffff;
      background: transparent; }
    body .st5 h2.h2_title-bgimg:before,
    body .st7 h2.h2_title-bgimg:before {
      background: #ffffff;
      content: '';
      width: 86px;
      height: 1px;
      position: absolute;
      top: 45px; }
    body .st5 h2.h2_title-bgimg span,
    body .st7 h2.h2_title-bgimg span {
      background: #ffffff;
      content: '';
      width: 86px;
      height: 1px;
      position: absolute;
      top: 45px;
      right: calc(50% - 105px); }
  body .phone_center .alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 130px;
    position: fixed;
    left: -20px;
    bottom: -20px;
    -webkit-transition: visibility 0.5s ease 0s;
    transition: visibility 0.5s ease 0s;
    visibility: hidden;
    width: 150px;
    z-index: 20; }
  body .phone_center .alo-phone.alo-show {
    visibility: visible; }
  body .phone_center .fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight; }
  body .phone_center .alo-phone.alo-static {
    opacity: 0.6; }
  body .phone_center .alo-phone.alo-hover,
  body .phone_center .alo-phone:hover {
    opacity: 1; }
  body .phone_center .alo-phone.alo-hover .alo-ph-text,
  body .phone_center .alo-phone:hover .alo-ph-text {
    background-color: #75eb50; }
  body .phone_center .alo-ph-circle {
    -webkit-animation: 1.2s ease-in-out 0s normal none infinite running alo-circle-anim;
    animation: 1.2s ease-in-out 0s normal none infinite running alo-circle-anim;
    background-color: transparent;
    border: 2px solid rgba(117, 235, 80, 0.4);
    border-radius: 100%;
    height: 100px;
    left: 30px;
    opacity: 0.1;
    position: absolute;
    top: -10px;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100px; }
  body .phone_center .alo-phone.alo-active .alo-ph-circle {
    -webkit-animation: 1.1s ease-in-out 0s normal none infinite running alo-circle-anim !important;
    animation: 1.1s ease-in-out 0s normal none infinite running alo-circle-anim !important; }
  body .phone_center .alo-phone.alo-static .alo-ph-circle {
    -webkit-animation: 2.2s ease-in-out 0s normal none infinite running alo-circle-anim !important;
    animation: 2.2s ease-in-out 0s normal none infinite running alo-circle-anim !important; }
  body .phone_center .alo-phone.alo-hover .alo-ph-circle,
  body .phone_center .alo-phone:hover .alo-ph-circle {
    border-color: #cd3121;
    opacity: 0.5; }
  body .phone_center .alo-phone.alo-green.alo-hover .alo-ph-circle,
  body .phone_center .alo-phone.alo-green:hover .alo-ph-circle {
    border-color: #75eb50;
    opacity: 0.5; }
  body .phone_center .alo-phone.alo-green .alo-ph-circle {
    border-color: #d71149;
    opacity: 0.5; }
  body .phone_center .alo-phone.alo-gray.alo-hover .alo-ph-circle,
  body .phone_center .alo-phone.alo-gray:hover .alo-ph-circle {
    border-color: #ccc;
    opacity: 0.5; }
  body .phone_center .alo-phone.alo-gray .alo-ph-circle {
    border-color: #75eb50;
    opacity: 0.5; }
  body .phone_center .alo-ph-circle-fill {
    -webkit-animation: 2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim;
    animation: 2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim;
    background-color: #75eb50;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 70px;
    left: 45px;
    opacity: 0.1;
    position: absolute;
    top: 4px;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 70px; }
  body .phone_center .alo-phone.alo-active .alo-ph-circle-fill {
    -webkit-animation: 1.7s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;
    animation: 1.7s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important; }
  body .phone_center .alo-phone.alo-static .alo-ph-circle-fill {
    -webkit-animation: 2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;
    animation: 2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;
    opacity: 0 !important; }
  body .phone_center .alo-phone.alo-hover .alo-ph-circle-fill,
  body .phone_center .alo-phone:hover .alo-ph-circle-fill {
    background-color: rgba(233, 59, 53, 0.5);
    opacity: 0.75 !important; }
  body .phone_center .alo-phone.alo-green.alo-hover .alo-ph-circle-fill,
  body .phone_center .alo-phone.alo-green:hover .alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: 0.75 !important; }
  body .phone_center .alo-phone.alo-green .alo-ph-circle-fill {
    background-color: rgba(233, 59, 53, 0.5);
    opacity: 0.75 !important; }
  body .phone_center .alo-phone.alo-gray.alo-hover .alo-ph-circle-fill,
  body .phone_center .alo-phone.alo-gray:hover .alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: 0.75 !important; }
  body .phone_center .alo-phone.alo-gray .alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: 0.75 !important; }
  body .phone_center .alo-ph-img-circle {
    -webkit-animation: 1s ease-in-out 0s normal none infinite running alo-circle-img-anim;
    animation: 1s ease-in-out 0s normal none infinite running alo-circle-img-anim;
    border: 2px solid transparent;
    color: #fff;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    height: 40px;
    left: 60px;
    opacity: 0.7;
    position: absolute;
    top: 020px;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    width: 40px; }
  body .phone_center .alo-ph-text {
    background-color: #d2243d;
    color: #fff;
    border-radius: 4px;
    padding: 0px 5px;
    bottom: 30px;
    display: block;
    font-size: .875rem;
    margin-right: -50px;
    position: absolute;
    left: 20%;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    font-size: 15px; }
  body .phone_center .alo-phone.alo-active .alo-ph-img-circle {
    -webkit-animation: 1s ease-in-out 0s normal none infinite running alo-circle-img-anim !important;
    animation: 1s ease-in-out 0s normal none infinite running alo-circle-img-anim !important; }
  body .phone_center .alo-phone.alo-static .alo-ph-img-circle {
    -webkit-animation: 0s ease-in-out 0s normal none infinite running alo-circle-img-anim !important;
    animation: 0s ease-in-out 0s normal none infinite running alo-circle-img-anim !important; }
  body .phone_center .alo-phone.alo-hover .alo-ph-img-circle,
  body .phone_center .alo-phone:hover .alo-ph-img-circle {
    background-color: #cd3121; }
  body .phone_center .alo-phone.alo-green.alo-hover .alo-ph-img-circle,
  body .phone_center .alo-phone.alo-green:hover .alo-ph-img-circle {
    background-color: #75eb50; }
  body .phone_center .alo-phone.alo-green .alo-ph-img-circle {
    background-color: #d42b3e; }
  body .phone_center .alo-phone.alo-gray.alo-hover .alo-ph-img-circle,
  body .phone_center .alo-phone.alo-gray:hover .alo-ph-img-circle {
    background-color: #ccc; }
  body .phone_center .alo-phone.alo-gray .alo-ph-img-circle {
    background-color: #75eb50; }
  body .phone_center .bg-eee {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 15px; }
  body .phone_center .bg-eee .row {
    margin: 0px;
    background: #75eb50; }
  body .phone_center .bg-eee .row:last-child {
    padding-bottom: 30px; }
  body .phone_center .bg-eee .title {
    background: #46be8a;
    color: #fff;
    margin: 0px -15px 15px -15px;
    padding: 15px 15px; }
  body .phone_center .panel-title i {
    margin-right: 10px; }
  body .phone_center .panel-body {
    font-size: 15px;
    line-height: 25px; }
@-webkit-keyframes alo-circle-anim {
  0% {
    opacity: 0.1;
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    transform: rotate(0deg) scale(0.5) skew(1deg); }
  30% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  100% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }
@keyframes alo-circle-anim {
  0% {
    opacity: 0.1;
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    transform: rotate(0deg) scale(0.5) skew(1deg); }
  30% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  100% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }
@-webkit-keyframes alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); } }
@keyframes alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); } }
@-webkit-keyframes alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }
@keyframes alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px); } }
@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px); } }
@keyframes alo-circle-anim {
  0% {
    opacity: 0.1;
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    transform: rotate(0deg) scale(0.5) skew(1deg); }
  30% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  100% {
    opacity: 0.1;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }
@keyframes alo-circle-anim {
  0% {
    opacity: 0.1;
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    transform: rotate(0deg) scale(0.5) skew(1deg); }
  30% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  100% {
    opacity: 0.1;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }
@keyframes alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  50% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); } }
@keyframes alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); }
  50% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    transform: rotate(0deg) scale(0.7) skew(1deg); } }
@keyframes alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    transform: rotate(0deg) scale(1) skew(1deg); } }
  body .scrollup {
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    bottom: 80px;
    right: 17px;
    display: none;
    background-color: #bd1b3c;
    border-radius: 50%;
    z-index: 200;
    text-align: center;
    font-size: 25px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.5s; }
    body .scrollup i {
      color: white; }
    body .scrollup:hover {
      opacity: 1;
      transition: all 0.5s; }
      body .scrollup:hover i {
        color: white; }
  body [class^="koko-"],
  body [class*=" koko-"] {
    font-family: 'kokohsoft' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  @media screen and (max-width: 1266px) {
    body .st8 .st8_item .st8_text {
      padding-left: unset;
      width: unset; }
    body .st8 .st8_item .st8_img {
      margin-bottom: 20px; } }
  @media screen and (max-width: 1199px) {
    body header .hd_mn,
    body header .hd_menu {
      height: 63.19px; }
      body header .hd_mn img,
      body header .hd_menu img {
        width: 60%; }
      body header .hd_mn .navbar-collapse ul li a,
      body header .hd_menu .navbar-collapse ul li a {
        padding: 0 0 0 20px !important; }
    body .st2 {
      padding-top: 1px;
      padding-bottom: 45px;
      background: #ecf0f5;
      border-bottom: 1px #d5dce5;
      border-top: 1px #d5dce5; }
      body .st2 .h2_title:after {
        background: #ecf0f5; }
      body .st2 .st2_col {
        padding-top: 40px;
        padding-right: 10px;
        width: fit-content;
        margin: auto; }
        body .st2 .st2_col .text {
          padding-left: 45px; }
      body .st2 .st2_img {
        background: url(../images/st2a_07.png) center no-repeat;
        height: 500px; }
      body .st2 p.st_textf {
        margin-bottom: 0; }
      body .st2 .st2_col3 {
        padding-right: 0px;
        padding-left: 10px;
        width: fit-content;
        margin: auto; }
    body .blogSt2 {
      margin-top: 46px;
      position: relative; }
      body .blogSt2 .bl2_line {
        display: none; }
      body .blogSt2 .blogSt2_item .bl2_box {
        margin: 25px 0 10px 0;
        margin: 25px 0; }
        body .blogSt2 .blogSt2_item .bl2_box .bl2_text {
          max-width: unset;
          float: unset;
          padding-left: unset; }
        body .blogSt2 .blogSt2_item .bl2_box .bl2_img {
          margin-bottom: 20px;
          margin-right: 20px; }
        body .blogSt2 .blogSt2_item .bl2_box ul {
          display: none; }
        body .blogSt2 .blogSt2_item .bl2_box .bl2_circle {
          display: none; }
        body .blogSt2 .blogSt2_item .bl2_box .bl2_geometry {
          bottom: 0;
          top: unset;
          background: unset;
          left: unset;
          right: 0; }
    body .gt2 .gt2_boxImg .thumb,
    body .gv2 .gv2_box {
      width: 50%; }
    body .lkg p {
      float: unset; }
    body .lkg table {
      border: unset;
      padding: 0px; }
      body .lkg table thead,
      body .lkg table tbody,
      body .lkg table th,
      body .lkg table td,
      body .lkg table tr {
        display: block; }
      body .lkg table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px; }
      body .lkg table td,
      body .lkg table th {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left; }
        body .lkg table td::before,
        body .lkg table th::before {
          position: absolute;
          top: 12px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          text-align: left;
          font-weight: bold;
          content: attr(data-title); } }
  @media screen and (max-width: 991px) {
    body header .hd_top span.addr {
      display: none; }
    body header .hd_mn {
      height: 56px; }
    body header .hd_menu {
      height: 56px; }
      body header .hd_menu img {
        width: auto; }
      body header .hd_menu .container {
        margin: 0;
        padding: 0;
        position: relative; }
        body header .hd_menu .container .navbar {
          background: #ffffff;
          padding: 0px; }
          body header .hd_menu .container .navbar button {
            margin: 8px 16px; }
          body header .hd_menu .container .navbar a.navbar-brand {
            position: absolute;
            top: 2px;
            right: 0; }
          body header .hd_menu .container .navbar a {
            max-width: 160px; }
          body header .hd_menu .container .navbar .navbar-collapse ul {
            width: 100%;
            background: #ffffff; }
            body header .hd_menu .container .navbar .navbar-collapse ul li {
              padding: 20px; }
              body header .hd_menu .container .navbar .navbar-collapse ul li a {
                padding: 0 !important; }
    body .st7 .st7_pd .col-lg-3 {
      margin-bottom: 15px; }
    body .lkg_form {
      width: 400px;
      height: 700px;
      top: calc(50% - 325px);
      left: calc(50% - 200px); } }
@media screen and (max-width: 991px) and (max-width: 767px) {
  body .bd,
  body .bd3 {
    padding: 0 15px; }
  body .breadcrumb {
    padding: 15px 15px; }
  body .st3_sld .owl-st3_sld .owl-nav .owl-prev,
  body .st3_sld .owl-st3_sld .owl-nav .owl-next {
    font-size: unset; }
  body .gt2 .gt2_boxImg .thumb,
  body .gv2 .gv2_box {
    width: 100%; }
  body .gt1 {
    padding: 38px 10px 50px 10px; }
  body .blogSt2 .bl2_img {
    width: 100%; } }

  @media screen and (max-width: 575px) {
    body .lkg_form {
      border-radius: unset;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 5px; }
      body .lkg_form h3 {
        display: none; }
      body .lkg_form .row {
        display: none; }
    body .gt1 .gt1_content {
      padding: 10px 50px; }
    body .st_box .st_icon {
      display: none; }
    body .st_box .st_text {
      padding-left: 0px !important; }
    body header .hd_top span {
      margin-left: 10px; }
    body .st2 h2,
    body .st6 h2 {
      margin-bottom: 80px; }
      body .st2 h2::after,
      body .st6 h2::after {
        top: 69px !important; }
      body .st2 h2:before,
      body .st6 h2:before {
        top: 80px !important; }
    body .st4 .h2_title:after {
      top: 68px; }
    body .st4 .h2_title::before {
      top: 79px; }
    body .row.cs_adv {
      opacity: 1;
      visibility: visible;
      position: unset;
      display: flex; }
    body .dc .dc_box {
      padding: 10px; }
    body .dc1 {
      padding: 0 10px; }
    body .breadcrumb {
      padding: 15px 10px; } }

header .hd_top {
  background: url("../images/hd_bg.png");
  color: #ffffff;
  overflow: hidden;
  clear: both; }
  header .hd_top span {
    margin-left: 50px;
    height: 32px;
    font-size: 13px;
    line-height: 32px; }
    header .hd_top span i {
      font-size: 15px;
      margin-right: 5px;
      position: relative;
      top: 1px; }
    header .hd_top span.hd_phone::before {
      position: relative;
      top: 2px;
      margin-right: 5px;
      font-size: 15px;
      content: "\e910";
      font-family: 'kokohsoft' !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
header .hd_mn {
  height: 88px; }
header .hd_menu {
  position: fixed;
  top: 32px;
  z-index: 500;
  width: 100%;
  background: white;
  box-shadow: 0px 4px 11px 0px rgba(128, 128, 128, 0.4);
  height: 88px;
  transition: 0.11s; }
  header .hd_menu a.navbar-brand {
    margin-left: -23px; }
  header .hd_menu .navbar-collapse {
    overflow: hidden;
    clear: both; }
    header .hd_menu .navbar-collapse ul {
      right: 0;
      position: absolute;
      z-index: 10; }
      header .hd_menu .navbar-collapse ul li a {
        font-size: 14px;
        font-family: MediumHel;
        text-transform: uppercase;
        color: #353644 !important;
        padding: 0 0 0 45px !important; }
      header .hd_menu .navbar-collapse ul li:hover a {
        color: #bd222e !important; }

.hd_bg {
  background: #00000094;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.hd_banner {
  position: relative;
  height: 520px;
  background: url("../images/hd_banner.png") no-repeat center;
  background-attachment: fixed; }
  .hd_banner .hd_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center; }
    .hd_banner .hd_text h1 {
      padding-top: 156px;
      text-align: center;
      text-transform: uppercase; }
    .hd_banner .hd_text p {
      padding-top: 31px;
      color: #ffffff;
      font-size: 18px;
      max-width: 771px;
      margin: auto;
      padding-bottom: 39px; }
    .hd_banner .hd_text button {
      transition: 0.4s;
      font-size: 15px;
      font-family: RegularHel;
      text-transform: uppercase;
      line-height: 31px;
      background: #bd1b3c;
      color: #ffffff;
      border-radius: unset;
      position: relative;
      padding-right: 18px; }
      .hd_banner .hd_text button:after {
        content: ' ';
        width: 22.5px;
        height: 45px;
        border-bottom-right-radius: 45px;
        border-top-right-radius: 45px;
        background: #bd1b3c;
        position: absolute;
        top: -1px;
        right: -23px; }
      .hd_banner .hd_text button:before {
        content: ' ';
        width: 22.5px;
        height: 45px;
        background: #bd1b3c;
        border-bottom-left-radius: 45px;
        border-top-left-radius: 45px;
        position: absolute;
        top: -1px;
        left: -23px; }
      .hd_banner .hd_text button img {
        max-width: 13px; }
      .hd_banner .hd_text button:hover {
        background: #bd222e; }
        .hd_banner .hd_text button:hover::after, .hd_banner .hd_text button:hover::before {
          background: #bd222e; }
        .hd_banner .hd_text button:hover span {
          transform: translateX(10px); }
          .hd_banner .hd_text button:hover span i {
            transform: rotatex(360deg); }
      .hd_banner .hd_text button span {
        z-index: 3;
        position: absolute;
        width: 12px;
        height: 12px;
        content: '';
        border: 1px solid;
        border-radius: 50%;
        display: block;
        color: #ffffff;
        top: 16px;
        right: 3px;
        transition: 0.3s; }
        .hd_banner .hd_text button span i {
          position: absolute;
          top: 0;
          left: 3px;
          font-size: 10px;
          transition: 0.6s; }
    .hd_banner .hd_text .hd_arr {
      transition: 0.4s;
      position: absolute;
      bottom: 25px;
      left: calc(50% - 24px);
      -webkit-clip-path: polygon(0 0, 51% 20%, 100% 0, 50% 100%);
      clip-path: polygon(0 0, 51% 20%, 100% 0, 50% 100%);
      width: 55px;
      height: 55px;
      background: #bd1b3c; }
      .hd_banner .hd_text .hd_arr:hover {
        background: #bd222e;
        cursor: pointer;
        transform: scale(1.2); }

.st .st_box {
  margin-bottom: 35px; }
  .st .st_box .st_text {
    padding-left: 100px;
    position: relative;
    margin-bottom: 35px; }
  .st .st_box .st_icon {
    position: absolute;
    left: 35px;
    width: 52px;
    height: 52px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: #bd1b3c; }
    .st .st_box .st_icon .koko-briefcase:before {
      content: "\e900";
      position: absolute;
      top: 14px;
      left: 14px;
      font-size: 24px;
      color: #ffffff; }
.st .st_box2 .st_icon .koko-briefcase:before {
  content: "\e914"; }

.st2 {
  padding-top: 1px;
  padding-bottom: 45px;
  background: #eceff4;
  border-bottom: 1px #d5dce5;
  border-top: 1px #d5dce5; }
  .st2 .h2_title:after {
    background: #ecf0f5; }
  .st2 .st2_col {
    padding-right: 80px;
    padding-top: 80px; }
    .st2 .st2_col .text {
      padding-left: 45px; }
    .st2 .st2_col .sp1 {
      position: relative; }
      .st2 .st2_col .sp1::before {
        position: absolute;
        top: 0px;
        left: 0px;
        content: '\e900';
        font-size: 32px;
        color: #ed6325; }
    .st2 .st2_col .sp2 {
      position: relative; }
      .st2 .st2_col .sp2::before {
        position: absolute;
        top: 0px;
        left: 0px;
        content: '\e907';
        font-size: 32px;
        color: #7ac147; }
    .st2 .st2_col .sp3 {
      position: relative; }
      .st2 .st2_col .sp3::before {
        position: absolute;
        top: 0px;
        left: 0px;
        content: '\e90e';
        font-size: 32px;
        color: #039e76; }
  .st2 .st2_img {
    background: url(../images/st2a_07.png) center no-repeat;
    height: 500px; }
  .st2 p.st_textf {
    margin-bottom: 0; }
  .st2 .st2_col3 {
    padding-right: 0px;
    padding-left: 80px; }
    .st2 .st2_col3 .sp1::before {
      content: '\e90b'; }
    .st2 .st2_col3 .sp2::before {
      content: '\e901'; }
    .st2 .st2_col3 .sp3::before {
      content: '\e905'; }

.st3 .st3_one {
  text-align: center;
  height: 479px;
  border: 1px solid #d5dce5;
  border-radius: 4px; }
  .st3 .st3_one img {
    margin: 47px auto 35px auto;
    display: block;
    max-width: 150px;
    height: 150px;
    transition: 1s;
    border-radius: 50%; }
  .st3 .st3_one h4 {
    margin-bottom: 35px; }
  .st3 .st3_one p {
    height: 92px;
    overflow: hidden;
    padding: 0 29px;
    text-align: justify;
    margin-bottom: 28px; }
  .st3 .st3_one button {
    height: 39px;
    background: #bd1b3c;
    width: 165px; }
  .st3 .st3_one:hover img {
    transform: rotateY(360deg); }
  .st3 .st3_one:hover h4 {
    color: #bd222e; }
  .st3 .st3_one:hover button {
    background: #ffffff;
    color: #bd222e;
    border: 1px solid #bd222e; }

.st3_sld {
  margin-bottom: 45px;
  padding: 0 30px; }
  .st3_sld .owl-st3_sld,
  .st3_sld .owl-st7sld {
    position: relative; }
    .st3_sld .owl-st3_sld .owl-nav .owl-prev,
    .st3_sld .owl-st7sld .owl-nav .owl-prev {
      position: absolute;
      top: 0;
      left: -30px;
      width: 20px;
      height: 100%;
      margin: 0;
      border-radius: 0;
      font-size: 30px;
      line-height: 105px;
      color: #bd1b3c;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); }
      .st3_sld .owl-st3_sld .owl-nav .owl-prev.disabled,
      .st3_sld .owl-st7sld .owl-nav .owl-prev.disabled {
        color: #d5dce5 !important; }
    .st3_sld .owl-st3_sld .owl-nav .owl-next,
    .st3_sld .owl-st7sld .owl-nav .owl-next {
      position: absolute;
      top: 0;
      right: -30px;
      width: 20px;
      height: 100%;
      margin: 0;
      border-radius: 0;
      font-size: 30px;
      line-height: 105px;
      color: #bd1b3c;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); }
      .st3_sld .owl-st3_sld .owl-nav .owl-next.disabled,
      .st3_sld .owl-st7sld .owl-nav .owl-next.disabled {
        color: #d5dce5 !important; }

.st4 {
  padding-top: 1px;
  padding-bottom: 45px;
  background: #eceff4;
  border-bottom: 1px #d5dce5;
  border-top: 1px #d5dce5; }
  .st4 h2 {
    margin: 45px auto; }
    .st4 h2:after {
      background: #ecf0f5; }
  .st4 .st4_item {
    overflow: hidden;
    background: #ffffff;
    border: 1px solid #d5dce5; }
    .st4 .st4_item img {
      transition: 0.3s; }
    .st4 .st4_item h3 {
      padding: 25px 0 17px 25px; }
    .st4 .st4_item .st4_text {
      padding-left: 25px; }
    .st4 .st4_item p {
      margin-bottom: 35px; }
      .st4 .st4_item p span {
        width: 70px;
        height: auto;
        display: inline-block; }
    .st4 .st4_item:hover img {
      transform: scale(1.1); }
    .st4 .st4_item:hover h3 {
      color: #ff2501; }

.st5 {
  padding-top: 1px;
  padding-bottom: 45px;
  background: url(../images/st5.png);
  background-attachment: fixed; }
  .st5 h2,
  .st5 p,
  .st5 h3 {
    color: #ffffff !important;
    text-align: center; }
  .st5 .st5_item {
    padding: 10px; }
    .st5 .st5_item h3 {
      margin: 25px 0; }
    .st5 .st5_item i {
      max-width: 288px;
      color: #ffffff !important; }
    .st5 .st5_item p {
      margin-top: 25px; }
    .st5 .st5_item img {
      width: 150px !important;
      margin: auto;
      height: 150px;
      border-radius: 50%; }

.st6 .st6_item {
  padding: 10px; }
  .st6 .st6_item .st6_box {
    clear: both;
    overflow: hidden; }
    .st6 .st6_item .st6_box img {
      width: 72px !important;
      height: 72px;
      border-radius: 50%;
      float: left; }
    .st6 .st6_item .st6_box .st6_text {
      float: left;
      padding: 15px 0 0 15px;
      position: relative; }
      .st6 .st6_item .st6_box .st6_text:after {
        position: absolute;
        top: 69px;
        left: 15px;
        content: '';
        width: 35px;
        height: 3px;
        background: #bd1b3c; }

.st7 {
  background: url(../images/st7.png) no-repeat center;
  background-attachment: fixed;
  padding-top: 1px;
  padding-bottom: 40px;
  position: relative; }
  .st7 .st7_bg {
    width: 100%;
    height: 100%;
    background: #00000082;
    position: absolute;
    top: 0px;
    left: 0px; }
  .st7 .st7sld img {
    margin-bottom: 30px;
    transition: 0.4s; }
    .st7 .st7sld img:hover {
      transform: scale(1.1);
      cursor: pointer; }

.st8 {
  margin: 45px 0; }
  .st8 h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px; }
  .st8 .st8_item {
    transition: 0.3s;
    clear: both;
    overflow: hidden;
    margin-bottom: 15px; }
    .st8 .st8_item .st8_img {
      width: 190px;
      float: left;
      overflow: hidden; }
      .st8 .st8_item .st8_img img {
        object-fit: cover;
        object-position: center;
        height: 115px; }
    .st8 .st8_item .st8_text {
      padding-left: 30px;
      float: left;
      width: 413px; }
      .st8 .st8_item .st8_text small {
        color: #888da8; }
      .st8 .st8_item .st8_text p {
        height: 62px;
        overflow: hidden; }
    .st8 .st8_item:hover {
      transform: translateX(10px); }
      .st8 .st8_item:hover h4 {
        color: #bd222e; }

footer {
  background: #eceff4;
  padding-bottom: 110px; }
  footer h2 {
    text-transform: uppercase;
    margin-bottom: 45px;
    padding-top: 45px; }
  footer p {
    margin-bottom: 25px; }
    footer p img {
      padding-right: 15px;
      width: 33px;
      height: 18px; }
  footer .st_map {
    border: 1px solid #d5dce5; }
  footer .row {
    margin-bottom: 20px; }
  footer ul li {
    float: right;
    padding: 2.5px;
    position: relative; }
    footer ul li span {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: block;
      color: #ffffff;
      transition: 0.4s; }
      footer ul li span::before {
        font-size: 26px;
        position: absolute;
        padding: 7px; }
    footer ul li:hover span {
      transform: rotate(45deg); }

.blogSt1 {
  position: relative;
  background: url(../images/Blog_02.png) center no-repeat; }
  .blogSt1 h2 {
    padding: 60px 0;
    margin: 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    position: relative; }

.blogSt2 {
  margin-top: 46px;
  position: relative; }
  .blogSt2 .bl_tag {
    position: relative;
    z-index: 100;
    padding-bottom: 20px; }
    .blogSt2 .bl_tag .navbar .row {
      width: 100%;
      margin: auto; }
      .blogSt2 .bl_tag .navbar .row .col-md-8 {
        position: relative; }
        .blogSt2 .bl_tag .navbar .row .col-md-8::before {
          content: '\f002';
          font-weight: 700;
          font-family: 'Font Awesome 5 Free';
          position: absolute;
          top: calc(50% - 10px);
          left: 0;
          color: #bd1b3c; }
        .blogSt2 .bl_tag .navbar .row .col-md-8 input {
          width: 100%;
          height: 40px;
          background: #f8f9fa;
          border: none;
          padding-left: 10px;
          font-size: 18px; }
      .blogSt2 .bl_tag .navbar .row .col-md-4 {
        height: 40px;
        padding: 0; }
        .blogSt2 .bl_tag .navbar .row .col-md-4 button {
          float: right;
          padding: 10px;
          margin: 0;
          color: #8c9aa7;
          border: 1px solid #8c9aa7;
          position: relative; }
    .blogSt2 .bl_tag #navbarToggleExternalContent {
      border-top: 1px solid; }
  .blogSt2 .bl2_line {
    content: '';
    width: 1px;
    height: 943px;
    position: absolute;
    top: 69px;
    margin-left: 138px;
    background: #d5dce5; }
  .blogSt2 .blogSt2_item {
    position: relative;
    border-bottom: 1px solid #d5dce5; }
    .blogSt2 .blogSt2_item .bl2_box {
      clear: both;
      overflow: hidden;
      margin: 25px 0 25px 170px; }
      .blogSt2 .blogSt2_item .bl2_box .bl2_img {
        float: left;
        width: 180px; }
      .blogSt2 .blogSt2_item .bl2_box .bl2_text {
        max-width: 683px;
        float: left;
        padding-left: 25px; }
        .blogSt2 .blogSt2_item .bl2_box .bl2_text p {
          height: 88px;
          overflow: hidden; }
      .blogSt2 .blogSt2_item .bl2_box ul {
        float: right; }
        .blogSt2 .blogSt2_item .bl2_box ul li {
          padding-bottom: 7px;
          width: 33px; }
          .blogSt2 .blogSt2_item .bl2_box ul li span {
            width: 28px;
            height: 28px;
            color: #ffffff;
            padding: 6px;
            opacity: 0;
            visibility: hidden;
            transition: 0.2s; }
          .blogSt2 .blogSt2_item .bl2_box ul li:first-child span {
            opacity: 1;
            visibility: visible; }
      .blogSt2 .blogSt2_item .bl2_box .bl2_geometry {
        width: 113px;
        height: 31px;
        background: #d5dce5;
        color: #515365;
        text-align: center;
        line-height: 31px;
        -webkit-clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
        clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
        display: block;
        position: absolute;
        top: 0;
        left: 0; }
      .blogSt2 .blogSt2_item .bl2_box .bl2_circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid #d5dce5;
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        background: #ffffff;
        left: 131px; }
    .blogSt2 .blogSt2_item:hover h3 {
      color: #428bdc; }
    .blogSt2 .blogSt2_item:hover .bl2_circle {
      border: 3px solid #428bdc; }
    .blogSt2 .blogSt2_item:hover .bl2_geometry {
      background: #428bdc;
      color: #ffffff; }
    .blogSt2 .blogSt2_item:hover ul li span {
      opacity: 1;
      visibility: visible; }
      .blogSt2 .blogSt2_item:hover ul li span.koko-twitter {
        transition-delay: 0.1s; }
      .blogSt2 .blogSt2_item:hover ul li span.koko-google {
        transition-delay: 0.2s; }
    .blogSt2 .blogSt2_item:last-child {
      border: unset; }

.bl_parse {
  clear: both;
  overflow: hidden;
  margin-bottom: 50px; }
  .bl_parse ul {
    float: right; }
    .bl_parse ul li {
      padding: 0 7px;
      float: left;
      border: 1px solid #d5dce5;
      margin-left: 5px; }
      .bl_parse ul li a {
        color: #353644;
        font-size: 14px; }
  .bl_parse .active {
    background: #cccccc; }

.gt1 {
  background: #ecf0f5;
  padding: 38px 60px 50px 60px; }
  .gt1 .gt1_content {
    padding: 35px 65px;
    background: #ffffff;
    margin-left: 0 65px; }
    .gt1 .gt1_content .gt1_item {
      margin-bottom: 35px; }
      .gt1 .gt1_content .gt1_item h4 {
        position: relative;
        text-transform: uppercase; }
      .gt1 .gt1_content .gt1_item span {
        position: absolute;
        top: 0;
        left: -36px;
        font-size: 22px;
        color: #bd1b3c; }

.gt2 {
  margin-bottom: 50px; }
  .gt2 h4 {
    padding: 36px 0 10px 0;
    text-transform: uppercase; }
  .gt2 img {
    margin-bottom: 30px; }

.gv2 {
  margin-top: 45px;
  margin-bottom: 60px; }
  .gv2 .gv2_mg {
    clear: both;
    overflow: hidden;
    margin: 0 -17.5px; }
  .gv2 .gv2_box {
    float: left;
    width: 33.3333%;
    padding: 17.5px; }
    .gv2 .gv2_box p,
    .gv2 .gv2_box h3,
    .gv2 .gv2_box i {
      text-align: center; }
    .gv2 .gv2_box .gv2_item {
      border: 1px solid #d5dce5;
      padding: 10px;
      border-radius: 3px; }
      .gv2 .gv2_box .gv2_item h3 {
        margin: 25px 0; }
      .gv2 .gv2_box .gv2_item i {
        max-width: 288px; }
      .gv2 .gv2_box .gv2_item p {
        margin-top: 25px; }
      .gv2 .gv2_box .gv2_item img {
        width: 150px !important;
        margin: auto;
        height: 150px;
        border-radius: 50%;
        display: block; }
      .gv2 .gv2_box .gv2_item .gv2_icon {
        margin-top: 26px;
        margin-bottom: 50px;
        transition: 0.3s; }
        .gv2 .gv2_box .gv2_item .gv2_icon ul {
          margin: auto;
          clear: both;
          overflow: hidden;
          width: fit-content;
          padding: 0; }
          .gv2 .gv2_box .gv2_item .gv2_icon ul li {
            padding: 3px;
            float: left; }
            .gv2 .gv2_box .gv2_item .gv2_icon ul li span {
              padding: 7px;
              border: 1px solid;
              border-radius: 50%;
              background: #ffffff;
              transition: 0.3s; }
              .gv2 .gv2_box .gv2_item .gv2_icon ul li span.koko-facebook {
                color: #4b6ea9;
                border-color: #4b6ea9; }
                .gv2 .gv2_box .gv2_item .gv2_icon ul li span.koko-facebook:hover {
                  color: #ffffff;
                  background: #4b6ea9 !important; }
              .gv2 .gv2_box .gv2_item .gv2_icon ul li span.koko-twitter {
                color: #65bbf2;
                border-color: #65bbf2; }
                .gv2 .gv2_box .gv2_item .gv2_icon ul li span.koko-twitter:hover {
                  color: #ffffff;
                  background: #65bbf2 !important; }
              .gv2 .gv2_box .gv2_item .gv2_icon ul li span.koko-linkedin {
                color: #008bc2;
                border-color: #008bc2; }
                .gv2 .gv2_box .gv2_item .gv2_icon ul li span.koko-linkedin:hover {
                  color: #ffffff;
                  background: #008bc2 !important; }
              .gv2 .gv2_box .gv2_item .gv2_icon ul li span.koko-youtube {
                color: #f43522;
                border-color: #f43522; }
                .gv2 .gv2_box .gv2_item .gv2_icon ul li span.koko-youtube:hover {
                  color: #ffffff;
                  background: #f43522 !important; }
        .gv2 .gv2_box .gv2_item .gv2_icon:hover {
          transform: scale(1.5); }

.lh {
  margin: 50px 0 80px 0; }
  .lh ul {
    margin-top: 35px;
    padding: 0; }
    .lh ul li {
      border-top: 1px solid #d5dce5;
      padding: 30px 0; }
      .lh ul li .lh_pd {
        padding-left: 55px;
        position: relative; }
        .lh ul li .lh_pd img {
          position: absolute;
          top: 0;
          left: -8px; }
  .lh h3 {
    margin-bottom: 35px; }
  .lh .lh_boxInput {
    border: 1px solid #d5dce5;
    background: #ecf0f5;
    width: 100%;
    height: 95%;
    padding: 25px;
    border-radius: 3px; }
    .lh .lh_boxInput h5 {
      margin-bottom: 13px; }
    .lh .lh_boxInput input,
    .lh .lh_boxInput textarea {
      margin-bottom: 25px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #d5dce5;
      height: 35px; }
    .lh .lh_boxInput textarea {
      height: 130px; }
    .lh .lh_boxInput button {
      padding: 3px 25px;
      float: right;
      background: #bd1b3c;
      color: #ffffff; }
      .lh .lh_boxInput button:hover {
        border: 1px solid #bd1b3c;
        background: #ffffff;
        color: #bd1b3c; }

.course {
  background: url(../images/CackhoaHoc_02.png); }
  .course .c_box {
    background: #00000054;
    position: relative; }
    .course .c_box span {
      color: #979491;
      text-transform: uppercase;
      font-size: 14px;
      padding: 0 40px;
      line-height: 35px; }
      .course .c_box span:hover {
        cursor: pointer; }
  .course .active_ {
    position: relative;
    color: #ffffff !important; }
    .course .active_::before {
      content: '';
      width: 100%;
      height: 2px;
      background: #bd1b3c;
      position: absolute;
      top: -11px;
      left: 0; }
    .course .active_:after {
      content: '';
      width: 100%;
      height: 35px;
      background: #f3e8e833;
      position: absolute;
      top: -9px;
      left: 0px; }

.cs {
  padding: 50px 0 0 0; }
  .cs .cs_one {
    margin-bottom: 50px;
    border: 1px solid #d5dce5;
    border-radius: 3px;
    position: relative;
    text-align: center; }
    .cs .cs_one .cs_price {
      position: absolute;
      top: 0px;
      right: -29px;
      background: url(../images/gia.png) no-repeat;
      text-align: center; }
      .cs .cs_one .cs_price h3 {
        color: #ffffff;
        padding: 14px 44px; }
    .cs .cs_one img {
      display: block;
      margin: auto;
      margin-top: 25px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      transition: 0.9s; }
    .cs .cs_one p.text-1 {
      text-align: justify;
      height: 70px;
      overflow: hidden;
      margin: 0 20px; }
    .cs .cs_one a {
      margin-left: 20px;
      margin-bottom: 20px; }
    .cs .cs_one .cs_row {
      clear: both;
      border-top: 1px solid #d5dce5;
      border-bottom: 1px solid #d5dce5;
      margin-bottom: 35px; }
      .cs .cs_one .cs_row .col-4 {
        margin: 10px 0; }
        .cs .cs_one .cs_row .col-4 h5,
        .cs .cs_one .cs_row .col-4 p {
          margin: 0; }
        .cs .cs_one .cs_row .col-4.cs_col2 {
          border-right: 1px solid #d5dce5;
          border-left: 1px solid #d5dce5; }
    .cs .cs_one button {
      height: 39px;
      background: #bd1b3c;
      width: 165px;
      margin-bottom: 35px; }
    .cs .cs_one:hover img {
      transform: rotateY(360deg); }
    .cs .cs_one:hover button {
      color: #bd1b3c;
      border: 1px solid #bd1b3c;
      background: #ffffff; }
  .cs .cs_adv,
  .cs .cs_bas {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: none; }
  .cs .show_ {
    opacity: 1;
    visibility: visible;
    position: unset;
    display: flex; }

.dc {
  background: url(../images/DetailKHoaHoc_03.png) no-repeat center;
  height: 330px; }
  .dc .hd_bg {
    background: #00000005; }
  .dc .dc_box {
    padding: 36px 96px 43px 96px; }
    .dc .dc_box .dc_img {
      position: relative; }
      .dc .dc_box .dc_img .dc_bg {
        width: 378px;
        height: 250px;
        background: #dcdddd;
        position: absolute; }
      .dc .dc_box .dc_img img {
        position: absolute; }
    .dc .dc_box .dc_text {
      color: #ffffff;
      padding-left: 430px;
      position: relative; }
      .dc .dc_box .dc_text h4,
      .dc .dc_box .dc_text h3,
      .dc .dc_box .dc_text .text {
        color: #ffffff; }
      .dc .dc_box .dc_text h3 {
        margin-bottom: 30px; }
      .dc .dc_box .dc_text p {
        margin: 0; }
        .dc .dc_box .dc_text p span {
          width: 105px;
          height: auto;
          display: inline-block; }
      .dc .dc_box .dc_text h4 {
        margin: 25px 0; }
        .dc .dc_box .dc_text h4 span {
          font-size: 14px;
          text-transform: initial; }

.breadcrumb {
  background: #ffffff;
  padding: 15px 96px; }
  .breadcrumb li {
    color: #888da8; }
    .breadcrumb li a {
      color: #888da8; }

.dc1 ol li.dc1_li {
  list-style-type: unset;
  position: relative;
  cursor: pointer;
  width: fit-content; }
  .dc1 ol li.dc1_li span {
    position: relative; }
    .dc1 ol li.dc1_li span::before {
      content: '\f0d8';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0; }
    .dc1 ol li.dc1_li span::after {
      content: '\f0d7';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900; }
  .dc1 ol li.dc1_li:hover {
    color: #ff2501; }
.dc1 ul li {
  list-style-type: square; }
.dc1 button {
  margin-bottom: 38px; }

.showicon::before {
  opacity: 1 !important;
  visibility: visible !important; }
.showicon::after {
  opacity: 0;
  visibility: hidden; }

.changecolor {
  color: #428bdc; }

button.btn_ {
  height: 39px;
  background: #bd1b3c;
  width: 165px;
  color: #ffffff; }
  button.btn_:hover {
    color: #bd1b3c;
    background: #ffffff;
    border: 1px solid #bd1b3c; }

.bd {
  padding: 0 111px; }
  .bd small {
    color: #888da8; }
  .bd img {
    display: block;
    margin: 30px auto; }

.bd_nav h4 {
  border-bottom: 2px solid #d5dce5;
  padding-bottom: 25px;
  position: relative; }
  .bd_nav h4:before {
    content: '';
    width: 50%;
    height: 2px;
    background: #bd1b3c;
    position: absolute;
    left: 0px;
    bottom: -2px; }
.bd_nav ul {
  padding-left: 19px; }
  .bd_nav ul li {
    list-style-type: square; }
    .bd_nav ul li a {
      color: #515365; }
      .bd_nav ul li a:hover {
        color: #428bdc; }

.bd2 {
  padding: 0 111px; }

.bd3 {
  padding: 0 111px; }
  .bd3 ul {
    padding-left: 19px; }
    .bd3 ul li {
      list-style-type: square; }
      .bd3 ul li a {
        color: #353644; }
        .bd3 ul li a:hover {
          color: #428bdc; }

.lkg {
  padding-top: 45px; }
  .lkg p {
    float: right; }
  .lkg table {
    border: 1px solid #d5dce5;
    text-align: center;
    color: #353644;
    margin-bottom: 50px;
    padding: 0 60px; }
    .lkg table thead {
      text-transform: uppercase; }
    .lkg table button {
      width: 110px;
      text-transform: uppercase;
      font-size: 14px;
      margin: auto;
      margin-top: 5px; }

.lkg_bgFull {
  width: 100%;
  height: 100%;
  background: #252222ad;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0; }

.lkg_show {
  visibility: visible !important;
  opacity: 1 !important;
  transform: scale(1); }

.lkg_form {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 1001;
  padding: 30px;
  width: 800px;
  height: 650px;
  background: #ffffff;
  position: fixed;
  top: calc(50% - 325px);
  left: calc(50% - 400px);
  border-radius: 10px; }
  .lkg_form i {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer; }
  .lkg_form h3 {
    margin-bottom: 30px; }
  .lkg_form input {
    border: none;
    border-bottom: solid 1px #d5dce5;
    margin: 0 0 15px;
    color: #212529;
    outline: none; }
    .lkg_form input::placeholder {
      color: #888da8; }
    .lkg_form input.lkg_ip {
      width: 100%; }
      .lkg_form input.lkg_ip.border_ {
        border-bottom: 2px solid #bd222e !important; }
  .lkg_form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d5dce5; }
    .lkg_form textarea::placeholder {
      color: #888da8; }
  .lkg_form button {
    margin-top: 20px; }

/*# sourceMappingURL=1.css.map */
