@charset "UTF-8";
$cl_red: #bd1b3c;
$cl_red1: #bd222e;
$cl_red2: #ff2501;
$cl_or: #ed6325;
$cl_green: #23b14d;
$cl_green1: #7ac044;
$cl_pp: #682f8e;
$cl_blue: #3b5998;
$cl_blue1: #428bdc;
$cl_blue2: #00adb0;
$cl_gray: #353644;
$cl_gray1: #515365;
$cl_gray2: #888da8;
$cl_line: #d5dce5;
$cl_bg: #ecf0f5;
$cl_white: #ffffff;
$cl_graybg:#eceff4;
$size:22.5px;
button {
    outline: none !important;
}

h1 {
    font-size: 25px;
    color: $cl_white;
    font-family: MediumHel;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    color: $cl_gray;
    font-family: MediumHel;
    text-transform: uppercase;
}

h4,
h3 {
    font-size: 18px;
    color: $cl_gray;
    font-family: MediumHel;
    text-transform: uppercase;
}

h5 {
    font-size: 18px;
    font-family: MediumHel;
}

.text {
    font-family: RegularHel;
    font-size: 14px;
    color: $cl_gray1;
}

.menu {
    font-size: 14px;
    color: $cl_gray;
    font-family: MediumHel;
}

a {
    font-size: 14px;
    color: $cl_blue1;
    text-decoration: none;
    font-family: RegularHel;
}

li {
    list-style-type: none;
}

a:hover {
    color: $cl_blue1;
    text-decoration: none;
}

.container {
    max-width: 1266px;
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'kokohsoft';
    src: url("../fonts/kokohsoft.ttf?rqm90p") format('truetype'), url("../fonts/kokohsoft.woff?rqm90p") format('woff'), url("../fonts/kokohsoft.svg?rqm90p#kokohsoft") format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin fix_img() {
    object-fit: cover;
    object-position: center;
    display: inline-block;
    width: auto;
}

@font-face {
    font-family: MediumHel;
    src: url("../fonts/helveticaneuemedium.ttf");
}

@font-face {
    font-family: Hel;
    src: url("../fonts/helveticaneue.ttf");
}

@font-face {
    font-family: RegularHel;
    src: url("../fonts/SVN-Helvetica\ Neue\ Condensed\ Regular.ttf");
}

body {
    font-family: Hel;
    line-height: 1.6; //@include fix_img();
    .koko-phone {
        background: #ef2a2a;
    }
    .koko-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }
    .koko-facebook {
        background: #3b5998;
    }
    .koko-youtube {
        background: #ff2501;
    }
    .koko-google {
        background: #dd4b39;
    }
    .koko-twitter {
        background: #50abf1;
    }
    .koko-sharing {
        background: #555555;
    }
    .koko-briefcase:before {
        content: "\e900";
    }
    .koko-computer:before {
        content: "\e901";
    }
    .koko-eye:before {
        content: "\e902";
    }
    .koko-facebook:before {
        content: "\e903";
    }
    .koko-google:before {
        content: "\e904";
    }
    .koko-icon:before {
        content: "\e905";
    }
    .koko-instagram:before {
        content: "\e906";
    }
    .koko-light:before {
        content: "\e907";
    }
    .koko-like:before {
        content: "\e908";
    }
    .koko-linkedin:before {
        content: "\e909";
    }
    .koko-medal:before {
        content: "\e90a";
    }
    .koko-money:before {
        content: "\e90b";
    }
    .koko-next:before {
        content: "\e90c";
    }
    .koko-pc-coding:before {
        content: "\e90d";
    }
    .koko-pdf:before {
        content: "\e90e";
    }
    .koko-phone:before {
        content: "\e90f";
    }
    .koko-phone-call:before {
        content: "\e910";
    }
    .koko-sharing:before {
        content: "\e911";
    }
    .koko-skype:before {
        content: "\e912";
    }
    .koko-star:before {
        content: "\e913";
    }
    .koko-students:before {
        content: "\e914";
    }
    .koko-twitter:before {
        content: "\e915";
    }
    .koko-youtube:before {
        content: "\e916";
    }
    .koko-prev {
        transform: rotate(180deg);
    }
    p.st_textf {
        max-width: 780px;
        text-align: center;
        margin: auto;
        margin-bottom: 35px;
    }
    .menufixtop {
        position: fixed;
        top: 0 !important;
        z-index: 500;
        height: 63.19px!important;
    }
    .menufixtopimg{
        width: 60%;
    }
    .h2_title {
        margin-top: 45px;
        margin-bottom: 50px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        &:after {
            position: absolute;
            top: 36px;
            font-size: 18px;
            left: calc(50% - 32.5px);
            content: "\e913";
            font-family: 'kokohsoft' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding: 0 20px;
            background: $cl_white;
        }
        &::before {
            content: '';
            width: 230px;
            height: 1px;
            background: black;
            position: absolute;
            top: 45px;
            left: calc(50% - 115px);
        }
    }
    .st5 h2.h2_title-bgimg,
    .st7 h2.h2_title-bgimg {
        color: $cl_white !important;
        text-align: center;
        &:after {
            color: $cl_white;
            background: transparent;
        }
        &:before {
            background: $cl_white;
            content: '';
            width: 86px;
            height: 1px;
            position: absolute;
            top: 45px;
        }
        span {
            background: $cl_white;
            content: '';
            width: 86px;
            height: 1px;
            position: absolute;
            top: 45px;
            right: calc(50% - 105px);
        }
    }
    .phone_center {
        .alo-phone {
            background-color: transparent;
            cursor: pointer;
            height: 130px;
            position: fixed;
            left: -20px;
            bottom: -20px;
            -webkit-transition: visibility 0.5s ease 0s;
            transition: visibility 0.5s ease 0s;
            visibility: hidden;
            width: 150px;
            z-index: 20;
        }
        .alo-phone.alo-show {
            visibility: visible;
        }
        .fadeOutRight {
            -webkit-animation-name: fadeOutRight;
            animation-name: fadeOutRight
        }
        .alo-phone.alo-static {
            opacity: 0.6;
        }
        .alo-phone.alo-hover,
        .alo-phone:hover {
            opacity: 1;
        }
        .alo-phone.alo-hover .alo-ph-text,
        .alo-phone:hover .alo-ph-text {
            background-color: #75eb50;
        }
        .alo-ph-circle {
            -webkit-animation: 1.2s ease-in-out 0s normal none infinite running alo-circle-anim;
            animation: 1.2s ease-in-out 0s normal none infinite running alo-circle-anim;
            background-color: transparent;
            border: 2px solid rgba(#75eb50, 0.4);
            border-radius: 100%;
            height: 100px;
            left: 30px;
            opacity: 0.1;
            position: absolute;
            top: -10px;
            -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
            -webkit-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
            width: 100px;
        }
        .alo-phone.alo-active .alo-ph-circle {
            -webkit-animation: 1.1s ease-in-out 0s normal none infinite running alo-circle-anim !important;
            animation: 1.1s ease-in-out 0s normal none infinite running alo-circle-anim !important;
        }
        .alo-phone.alo-static .alo-ph-circle {
            -webkit-animation: 2.2s ease-in-out 0s normal none infinite running alo-circle-anim !important;
            animation: 2.2s ease-in-out 0s normal none infinite running alo-circle-anim !important;
        }
        .alo-phone.alo-hover .alo-ph-circle,
        .alo-phone:hover .alo-ph-circle {
            border-color: #cd3121;
            opacity: 0.5;
        }
        .alo-phone.alo-green.alo-hover .alo-ph-circle,
        .alo-phone.alo-green:hover .alo-ph-circle {
            border-color: #75eb50;
            opacity: 0.5;
        }
        .alo-phone.alo-green .alo-ph-circle {
            border-color: #d71149;
            opacity: 0.5;
        }
        .alo-phone.alo-gray.alo-hover .alo-ph-circle,
        .alo-phone.alo-gray:hover .alo-ph-circle {
            border-color: #ccc;
            opacity: 0.5;
        }
        .alo-phone.alo-gray .alo-ph-circle {
            border-color: #75eb50;
            opacity: 0.5;
        }
        .alo-ph-circle-fill {
            -webkit-animation: 2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim;
            animation: 2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim;
            background-color: #75eb50;
            border: 2px solid transparent;
            border-radius: 100%;
            height: 70px;
            left: 45px;
            opacity: 0.1;
            position: absolute;
            top: 4px;
            -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
            -webkit-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
            width: 70px;
        }
        .alo-phone.alo-active .alo-ph-circle-fill {
            -webkit-animation: 1.7s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;
            animation: 1.7s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;
        }
        .alo-phone.alo-static .alo-ph-circle-fill {
            -webkit-animation: 2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;
            animation: 2.3s ease-in-out 0s normal none infinite running alo-circle-fill-anim !important;
            opacity: 0 !important;
        }
        .alo-phone.alo-hover .alo-ph-circle-fill,
        .alo-phone:hover .alo-ph-circle-fill {
            background-color: rgba(233, 59, 53, 0.5);
            opacity: 0.75 !important;
        }
        .alo-phone.alo-green.alo-hover .alo-ph-circle-fill,
        .alo-phone.alo-green:hover .alo-ph-circle-fill {
            background-color: rgba(#75eb50, 0.5);
            opacity: 0.75 !important;
        }
        .alo-phone.alo-green .alo-ph-circle-fill {
            background-color: rgba(233, 59, 53, 0.5);
            opacity: 0.75 !important;
        }
        .alo-phone.alo-gray.alo-hover .alo-ph-circle-fill,
        .alo-phone.alo-gray:hover .alo-ph-circle-fill {
            background-color: rgba(#75eb50, 0.5);
            opacity: 0.75 !important;
        }
        .alo-phone.alo-gray .alo-ph-circle-fill {
            background-color: rgba(#75eb50, 0.5);
            opacity: 0.75 !important;
        }
        .alo-ph-img-circle {
            -webkit-animation: 1s ease-in-out 0s normal none infinite running alo-circle-img-anim;
            animation: 1s ease-in-out 0s normal none infinite running alo-circle-img-anim;
            border: 2px solid transparent;
            color: #fff;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
            border-radius: 100%;
            height: 40px;
            left: 60px;
            opacity: 0.7;
            position: absolute;
            top: 020px;
            -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
            width: 40px;
        }
        .alo-ph-text {
            background-color: #d2243d;
            color: #fff;
            border-radius: 4px;
            padding: 0px 5px;
            bottom: 30px;
            display: block;
            font-size: .875rem;
            margin-right: -50px;
            position: absolute;
            left: 20%;
            text-align: center;
            text-transform: uppercase;
            width: 100px;
            font-size: 15px;
        }
        .alo-phone.alo-active .alo-ph-img-circle {
            -webkit-animation: 1s ease-in-out 0s normal none infinite running alo-circle-img-anim !important;
            animation: 1s ease-in-out 0s normal none infinite running alo-circle-img-anim !important
        }
        .alo-phone.alo-static .alo-ph-img-circle {
            -webkit-animation: 0s ease-in-out 0s normal none infinite running alo-circle-img-anim !important;
            animation: 0s ease-in-out 0s normal none infinite running alo-circle-img-anim !important
        }
        .alo-phone.alo-hover .alo-ph-img-circle,
        .alo-phone:hover .alo-ph-img-circle {
            background-color: #cd3121;
        }
        .alo-phone.alo-green.alo-hover .alo-ph-img-circle,
        .alo-phone.alo-green:hover .alo-ph-img-circle {
            background-color: #75eb50;
        }
        .alo-phone.alo-green .alo-ph-img-circle {
            background-color: #d42b3e;
        }
        .alo-phone.alo-gray.alo-hover .alo-ph-img-circle,
        .alo-phone.alo-gray:hover .alo-ph-img-circle {
            background-color: #ccc
        }
        .alo-phone.alo-gray .alo-ph-img-circle {
            background-color: #75eb50;
        }
        .bg-eee {
            padding-bottom: 20px;
            margin-bottom: 20px;
            font-size: 15px
        }
        .bg-eee .row {
            margin: 0px;
            background: #75eb50;
        }
        .bg-eee .row:last-child {
            padding-bottom: 30px
        }
        .bg-eee .title {
            background: #46be8a;
            color: #fff;
            margin: 0px -15px 15px -15px;
            padding: 15px 15px
        }
        .panel-title i {
            margin-right: 10px
        }
        .panel-body {
            font-size: 15px;
            line-height: 25px
        }
        @-webkit-keyframes alo-circle-anim {
            0% {
                opacity: 0.1;
                -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
                transform: rotate(0deg) scale(0.5) skew(1deg);
            }
            30% {
                opacity: 0.5;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
            100% {
                opacity: 0.6;
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
        }
        @keyframes alo-circle-anim {
            0% {
                opacity: 0.1;
                -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
                transform: rotate(0deg) scale(0.5) skew(1deg);
            }
            30% {
                opacity: 0.5;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
            100% {
                opacity: 0.6;
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
        }
        @-webkit-keyframes alo-circle-fill-anim {
            0% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
            50% {
                opacity: 0.2;
            }
            100% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
        }
        @keyframes alo-circle-fill-anim {
            0% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
            50% {
                opacity: 0.2;
            }
            100% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
        }
        @-webkit-keyframes alo-circle-img-anim {
            0% {
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
            10% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
            }
            20% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
            }
            30% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
            }
            40% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
            }
            50% {
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
            100% {
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
        }
        @keyframes alo-circle-img-anim {
            0% {
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
            10% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
            }
            20% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
            }
            30% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
            }
            40% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
            }
            50% {
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
            100% {
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
        }
        @keyframes fadeInRight {
            0% {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0px, 0px);
                transform: translate3d(100%, 0px, 0px);
            }
            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }
        @keyframes fadeInRight {
            0% {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0px, 0px);
                transform: translate3d(100%, 0px, 0px);
            }
            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }
        @keyframes fadeOutRight {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0px, 0px);
                transform: translate3d(100%, 0px, 0px);
            }
        }
        @keyframes fadeOutRight {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0px, 0px);
                transform: translate3d(100%, 0px, 0px);
            }
        }
        @keyframes alo-circle-anim {
            0% {
                opacity: 0.1;
                -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
                transform: rotate(0deg) scale(0.5) skew(1deg);
            }
            30% {
                opacity: 0.5;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
            100% {
                opacity: 0.1;
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
        }
        @keyframes alo-circle-anim {
            0% {
                opacity: 0.1;
                -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
                transform: rotate(0deg) scale(0.5) skew(1deg);
            }
            30% {
                opacity: 0.5;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
            100% {
                opacity: 0.1;
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
        }
        @keyframes alo-circle-fill-anim {
            0% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
            50% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
            100% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
        }
        @keyframes alo-circle-fill-anim {
            0% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
            50% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
            100% {
                opacity: 0.2;
                -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
                transform: rotate(0deg) scale(0.7) skew(1deg);
            }
        }
        @keyframes alo-circle-img-anim {
            0% {
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
            10% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
            }
            20% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
            }
            30% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
                transform: rotate(-25deg) scale(1) skew(1deg);
            }
            40% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
                transform: rotate(25deg) scale(1) skew(1deg);
            }
            50% {
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
            100% {
                -webkit-transform: rotate(0deg) scale(1) skew(1deg);
                transform: rotate(0deg) scale(1) skew(1deg);
            }
        }
    }
    .scrollup {
        width: 45px;
        height: 45px;
        line-height: 45px;
        position: fixed;
        bottom: 80px;
        right: 17px;
        display: none;
        background-color: $cl_red;
        border-radius: 50%;
        z-index: 200;
        text-align: center;
        font-size: 25px;
        opacity: 0.7;
        cursor: pointer;
        transition: all 0.5s;
        i {
            color: white;
        }
        &:hover {
            opacity: 1;
            i {
                color: white;
            }
            transition: all 0.5s;
        }
    }
    [class^="koko-"],
    [class*=" koko-"] {
        font-family: 'kokohsoft' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @import 'style-mobile.scss';
}

header {
    .hd_top {
        background: url("../images/hd_bg.png");
        color: $cl_white;
        overflow: hidden;
        clear: both;
        span {
            i {
                font-size: 15px;
                margin-right: 5px;
                position: relative;
                top: 1px;
            }
            margin-left: 50px;
            height: 32px;
            font-size: 13px;
            line-height: 32px;
            &.hd_phone {
                &::before {
                    position: relative;
                    top: 2px;
                    margin-right: 5px;
                    font-size: 15px;
                    content: "\e910";
                    font-family: 'kokohsoft' !important;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
    }
    .hd_mn {
        height: 88px;
    }
    .hd_menu {
        position: fixed;
        top: 32px;
        z-index: 500;
        width: 100%;
        background: white;
        box-shadow: 0px 4px 11px 0px rgba(128, 128, 128, 0.4);
        height: 88px;
        transition: 0.11s;
        a.navbar-brand {
            margin-left: -23px;
        }
        .navbar-collapse {
            overflow: hidden;
            clear: both;
            ul {
                right: 0;
                position: absolute;
                z-index: 10;
                li {
                    a {
                        font-size: 14px;
                        font-family: MediumHel;
                        text-transform: uppercase;
                        color: $cl_gray !important;
                        padding: 0 0 0 45px !important;
                    } // &.active {
                    //     a {
                    //         color: $cl_red!important;
                    //     }
                    // }
                    &:hover a {
                        color: $cl_red1 !important;
                    }
                }
            }
        }
    }
}

.hd_bg {
    background: #00000094;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hd_banner {
    position: relative;
    height: 520px;
    background: url("../images/hd_banner.png") no-repeat center;
    background-attachment: fixed;
    .hd_text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        text-align: center;
        h1 {
            padding-top: 156px;
            text-align: center;
            text-transform: uppercase;
        }
        p {
            padding-top: 31px;
            color: $cl_white;
            font-size: 18px;
            max-width: 771px;
            margin: auto;
            padding-bottom: 39px;
        }
        button {
            transition: 0.4s;
            font-size: 15px;
            font-family: RegularHel;
            text-transform: uppercase;
            line-height: 31px;
            background: $cl_red;
            color: $cl_white;
            border-radius: unset;
            position: relative;
            padding-right: 18px;
            &:after {
                content: ' ';
                width: $size;
                height: $size *2;
                border-bottom-right-radius: $size*2;
                border-top-right-radius: $size*2;
                background: $cl_red;
                position: absolute;
                top: -1px;
                right: -23px;
            }
            &:before {
                content: ' ';
                width: $size;
                height: $size*2;
                background: $cl_red;
                border-bottom-left-radius: $size*2;
                border-top-left-radius: $size*2;
                position: absolute;
                top: -1px;
                left: -23px;
            }
            img {
                max-width: 13px;
            }
            &:hover {
                background: $cl_red1;
                &::after,
                &::before {
                    background: $cl_red1;
                }
                span {
                    transform: translateX(10px);
                    i {
                        transform: rotatex(360deg);
                    }
                }
            }
            span {
                z-index: 3;
                position: absolute;
                width: 12px;
                height: 12px;
                content: '';
                border: 1px solid;
                border-radius: 50%;
                display: block;
                color: $cl_white;
                top: 16px;
                right: 3px;
                transition: 0.3s;
                i {
                    position: absolute;
                    top: 0;
                    left: 3px;
                    font-size: 10px;
                    transition: 0.6s;
                }
            }
        }
        .hd_arr {
            transition: 0.4s;
            position: absolute;
            bottom: 25px;
            left: calc(50% - 24px);
            -webkit-clip-path: polygon(0 0, 51% 20%, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 51% 20%, 100% 0, 50% 100%);
            width: 55px;
            height: 55px;
            background: $cl_red;
            &:hover {
                background: $cl_red1;
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}

.st {
    .st_box {
        margin-bottom: 35px;
        .st_text {
            padding-left: 100px;
            position: relative;
            margin-bottom: 35px
        }
        .st_icon {
            position: absolute;
            left: 35px;
            width: 52px;
            height: 52px;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            background: $cl_red;
            .koko-briefcase:before {
                content: "\e900";
                position: absolute;
                top: 14px;
                left: 14px;
                font-size: 24px;
                color: $cl_white;
            }
        }
    }
    .st_box2 {
        .st_icon {
            .koko-briefcase:before {
                content: "\e914";
            }
        }
    }
}

.st2 {
    padding-top: 1px;
    padding-bottom: 45px;
    background: $cl_graybg;
    border-bottom: 1px #d5dce5;
    border-top: 1px #d5dce5;
    .h2_title:after {
        background: #ecf0f5;
    }
    .st2_col {
        padding-right: 80px;
        padding-top: 80px;
        .text {
            padding-left: 45px;
        }
        .sp1 {
            position: relative;
            &::before {
                position: absolute;
                top: 0px;
                left: 0px;
                content: '\e900';
                font-size: 32px;
                color: $cl_or;
            }
        }
        .sp2 {
            position: relative;
            &::before {
                position: absolute;
                top: 0px;
                left: 0px;
                content: '\e907';
                font-size: 32px;
                color: #7ac147;
            }
        }
        .sp3 {
            position: relative;
            &::before {
                position: absolute;
                top: 0px;
                left: 0px;
                content: '\e90e';
                font-size: 32px;
                color: #039e76;
            }
        }
    }
    .st2_img {
        background: url(../images/st2a_07.png) center no-repeat;
        height: 500px;
    }
    p.st_textf {
        margin-bottom: 0;
    }
    .st2_col3 {
        padding-right: 0px;
        padding-left: 80px;
        .sp1 {
            &::before {
                content: '\e90b';
            }
        }
        .sp2 {
            &::before {
                content: '\e901';
            }
        }
        .sp3 {
            &::before {
                content: '\e905';
            }
        }
    }
}

.st3 {
    .st3_one {
        text-align: center; // max-width: 358px;
        height: 479px;
        border: 1px solid $cl_line;
        border-radius: 4px;
        img {
            margin: 47px auto 35px auto;
            display: block;
            max-width: 150px;
            height: 150px;
            transition: 1s;
            border-radius: 50%;
        }
        h4 {
            margin-bottom: 35px;
        }
        p {
            height: 92px;
            overflow: hidden;
            padding: 0 29px;
            text-align: justify;
            margin-bottom: 28px;
        }
        button {
            height: 39px;
            background: $cl_red;
            width: 165px;
        }
        &:hover {
            img {
                transform: rotateY(360deg);
            }
            h4 {
                color: $cl_red1;
            }
            button {
                background: $cl_white;
                color: $cl_red1;
                border: 1px solid $cl_red1;
            }
        }
    }
}

.st3_sld {
    margin-bottom: 45px;
    padding: 0 30px;
    .owl-st3_sld,
    .owl-st7sld {
        position: relative;
        .owl-nav {
            .owl-prev {
                position: absolute;
                top: 0;
                left: -30px;
                width: 20px;
                height: 100%;
                margin: 0;
                border-radius: 0;
                font-size: 30px;
                line-height: 105px;
                color: $cl_red;
                background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
                &.disabled {
                    color: #d5dce5 !important;
                }
            }
            .owl-next {
                position: absolute;
                top: 0;
                right: -30px;
                width: 20px;
                height: 100%;
                margin: 0;
                border-radius: 0;
                font-size: 30px;
                line-height: 105px;
                color: $cl_red;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
                &.disabled {
                    color: #d5dce5 !important;
                }
            }
        }
    }
}

.st4 {
    padding-top: 1px;
    padding-bottom: 45px;
    background: $cl_graybg;
    border-bottom: 1px #d5dce5;
    border-top: 1px #d5dce5;
    h2 {
        margin: 45px auto;
        &:after {
            background: #ecf0f5;
        }
    }
    .st4_item {
        overflow: hidden;
        background: $cl_white;
        border: 1px solid $cl_line;
        img {
            transition: 0.3s;
        }
        h3 {
            padding: 25px 0 17px 25px;
        }
        .st4_text {
            padding-left: 25px;
        }
        p {
            margin-bottom: 35px;
            span {
                width: 70px;
                height: auto;
                display: inline-block;
            }
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
            h3 {
                color: $cl_red2;
            }
        }
    }
}

.st5 {
    padding-top: 1px;
    padding-bottom: 45px;
    background: url(../images/st5.png);
    background-attachment: fixed;
    h2,
    p,
    h3 {
        color: $cl_white !important;
        text-align: center;
    }
    .st5_item {
        padding: 10px;
        h3 {
            margin: 25px 0;
        }
        i {
            max-width: 288px;
            color: $cl_white !important;
        }
        p {
            margin-top: 25px;
        }
        img {
            width: 150px !important;
            margin: auto;
            height: 150px;
            border-radius: 50%;
        }
    }
}

.st6 {
    .st6_item {
        padding: 10px;
        .st6_box {
            clear: both;
            overflow: hidden;
            img {
                width: 72px !important;
                height: 72px;
                border-radius: 50%;
                float: left;
            }
            .st6_text {
                float: left;
                padding: 15px 0 0 15px;
                position: relative;
                &:after {
                    position: absolute;
                    top: 69px;
                    left: 15px;
                    content: '';
                    width: 35px;
                    height: 3px;
                    background: $cl_red;
                }
            }
        }
    }
}

.st7 {
    background: url(../images/st7.png) no-repeat center;
    background-attachment: fixed;
    padding-top: 1px;
    padding-bottom: 40px;
    position: relative;
    .st7_bg {
        width: 100%;
        height: 100%;
        background: #00000082;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .st7sld {
        img {
            margin-bottom: 30px;
            transition: 0.4s;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

.st8 {
    margin: 45px 0;
    h2 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 45px;
    }
    .st8_item {
        transition: 0.3s;
        clear: both;
        overflow: hidden;
        margin-bottom: 15px;
        .st8_img {
            width: 190px;
            float: left;
            overflow: hidden;
            img {
                object-fit: cover;
                object-position: center;
                height: 115px;
            }
        }
        .st8_text {
            padding-left: 30px;
            float: left;
            width: 413px;
            small {
                color: $cl_gray2;
            }
            p {
                height: 62px;
                overflow: hidden;
            }
        }
        &:hover {
            h4 {
                color: $cl_red1;
            }
            transform: translateX(10px);
        }
    }
}

footer {
    background: $cl_graybg;
    padding-bottom: 110px;
    h2 {
        text-transform: uppercase;
        margin-bottom: 45px;
        padding-top: 45px;
    }
    p {
        margin-bottom: 25px;
        img {
            padding-right: 15px;
            width: 33px;
            height: 18px;
        }
    }
    .st_map {
        border: 1px solid $cl_line;
    }
    .row {
        margin-bottom: 20px;
    }
    ul li {
        float: right;
        padding: 2.5px;
        position: relative;
        span {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: block;
            color: $cl_white;
            transition: 0.4s;
            &::before {
                font-size: 26px;
                position: absolute;
                padding: 7px;
            }
        }
        &:hover {
            span {
                transform: rotate(45deg)
            }
        }
    }
}

.blogSt1 {
    position: relative;
    background: url(../images/Blog_02.png) center no-repeat;
    h2 {
        padding: 60px 0;
        margin: 0;
        text-align: center;
        color: $cl_white;
        text-transform: uppercase;
        position: relative;
    }
}

.blogSt2 {
    margin-top: 46px;
    position: relative;
    .bl_tag {
        position: relative;
        z-index: 100;
        padding-bottom: 20px;
        .navbar {
            .row {
                width: 100%;
                margin: auto;
                .col-md-8 {
                    position: relative;
                    &::before {
                        content: '\f002';
                        font-weight: 700;
                        font-family: 'Font Awesome 5 Free';
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 0;
                        color: $cl_red;
                    }
                    input {
                        width: 100%;
                        height: 40px;
                        background: #f8f9fa;
                        border: none;
                        padding-left: 10px;
                        font-size: 18px;
                    }
                }
                .col-md-4 {
                    height: 40px;
                    padding: 0;
                    button {
                        float: right;
                        padding: 10px;
                        margin: 0;
                        color: #8c9aa7;
                        border: 1px solid #8c9aa7;
                        position: relative;
                    }
                }
            }
        }
        #navbarToggleExternalContent {
            border-top: 1px solid;
        }
    }
    .bl2_line {
        content: '';
        width: 1px;
        height: 943px;
        position: absolute;
        top: 69px;
        margin-left: 138px;
        background: #d5dce5;
    }
    .blogSt2_item {
        position: relative;
        border-bottom: 1px solid $cl_line;
        .bl2_box {
            clear: both;
            overflow: hidden;
            margin: 25px 0 25px 170px;
            .bl2_img {
                float: left;
                width: 180px;
            }
            .bl2_text {
                max-width: 683px;
                float: left;
                padding-left: 25px;
                h3 {
                    // height: 21px;
                    // overflow: hidden;
                }
                p {
                    height: 88px;
                    overflow: hidden;
                }
            }
            ul {
                float: right;
                li {
                    padding-bottom: 7px;
                    width: 33px;
                    span {
                        width: 28px;
                        height: 28px;
                        color: $cl_white;
                        padding: 6px;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.2s;
                    }
                    &:first-child span {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .bl2_geometry {
                width: 113px;
                height: 31px;
                background: $cl_line;
                color: $cl_gray1;
                text-align: center;
                line-height: 31px;
                -webkit-clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
                clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
            .bl2_circle {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 3px solid $cl_line;
                content: '';
                display: block;
                position: absolute;
                top: 9px;
                background: $cl_white;
                left: 131px;
            }
        }
        &:hover {
            h3 {
                color: $cl_blue1;
            }
            .bl2_circle {
                border: 3px solid $cl_blue1;
            }
            .bl2_geometry {
                background: $cl_blue1;
                color: $cl_white;
            }
            ul li span {
                opacity: 1;
                visibility: visible;
                &.koko-twitter {
                    transition-delay: 0.1s;
                }
                &.koko-google {
                    transition-delay: 0.2s;
                }
            }
        }
        &:last-child {
            border: unset;
        }
    }
}

.bl_parse {
    clear: both;
    overflow: hidden;
    margin-bottom: 50px;
    ul {
        float: right;
        li {
            padding: 0 7px;
            float: left;
            border: 1px solid $cl_line;
            margin-left: 5px;
            a {
                color: $cl_gray;
                font-size: 14px;
            }
        }
    }
    .active {
        background: #cccccc;
    }
}

.gt1 {
    background: $cl_bg;
    padding: 38px 60px 50px 60px;
    .gt1_content {
        padding: 35px 65px;
        background: $cl_white;
        margin-left: 0 65px;
        .gt1_item {
            margin-bottom: 35px;
            h4 {
                position: relative;
                text-transform: uppercase;
            }
            span {
                position: absolute;
                top: 0;
                left: -36px;
                font-size: 22px;
                color: $cl_red;
            }
        }
    }
}

.gt2 {
    margin-bottom: 50px;
    h4 {
        padding: 36px 0 10px 0;
        text-transform: uppercase;
    }
    img {
        margin-bottom: 30px;
    }
}

.gv2 {
    margin-top: 45px;
    margin-bottom: 60px;
    .gv2_mg {
        clear: both;
        overflow: hidden;
        margin: 0 -17.5px;
    }
    .gv2_box {
        p,
        h3,
        i {
            text-align: center;
        }
        float: left;
        width: 33.3333%;
        padding: 17.5px;
        .gv2_item {
            border: 1px solid $cl_line;
            padding: 10px;
            border-radius: 3px;
            h3 {
                margin: 25px 0;
            }
            i {
                max-width: 288px;
            }
            p {
                margin-top: 25px;
            }
            img {
                width: 150px !important;
                margin: auto;
                height: 150px;
                border-radius: 50%;
                display: block;
            }
            .gv2_icon {
                margin-top: 26px;
                margin-bottom: 50px;
                transition: 0.3s;
                ul {
                    margin: auto;
                    clear: both;
                    overflow: hidden;
                    width: fit-content;
                    padding: 0;
                    li {
                        padding: 3px;
                        float: left;
                        span {
                            padding: 7px;
                            border: 1px solid;
                            border-radius: 50%;
                            background: $cl_white;
                            transition: 0.3s;
                            &.koko-facebook {
                                color: #4b6ea9;
                                border-color: #4b6ea9;
                                &:hover {
                                    color: $cl_white;
                                    background: #4b6ea9 !important;
                                }
                            }
                            &.koko-twitter {
                                color: #65bbf2;
                                border-color: #65bbf2;
                                &:hover {
                                    color: $cl_white;
                                    background: #65bbf2 !important;
                                }
                            }
                            &.koko-linkedin {
                                color: #008bc2;
                                border-color: #008bc2;
                                &:hover {
                                    color: $cl_white;
                                    background: #008bc2 !important;
                                }
                            }
                            &.koko-youtube {
                                color: #f43522;
                                border-color: #f43522;
                                &:hover {
                                    color: $cl_white;
                                    background: #f43522 !important;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}

.lh {
    margin: 50px 0 80px 0;
    ul {
        margin-top: 35px;
        padding: 0;
        li {
            border-top: 1px solid $cl_line;
            padding: 30px 0;
            .lh_pd {
                padding-left: 55px;
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    left: -8px;
                }
            }
        }
    }
    h3 {
        margin-bottom: 35px;
    }
    .lh_boxInput {
        border: 1px solid $cl_line;
        background: $cl_bg;
        width: 100%;
        height: 95%;
        padding: 25px;
        border-radius: 3px;
        h5 {
            margin-bottom: 13px;
        }
        input,
        textarea {
            margin-bottom: 25px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $cl_line;
            height: 35px;
        }
        textarea {
            height: 130px;
        }
        button {
            padding: 3px 25px;
            float: right;
            background: $cl_red;
            color: $cl_white;
            &:hover {
                border: 1px solid $cl_red;
                background: $cl_white;
                color: $cl_red;
            }
        }
    }
}

.course {
    background: url(../images/CackhoaHoc_02.png);
    .c_box {
        background: #00000054;
        position: relative;
        span {
            color: #979491;
            text-transform: uppercase;
            font-size: 14px;
            padding: 0 40px;
            line-height: 35px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .active_ {
        position: relative;
        color: $cl_white !important;
        &::before {
            content: '';
            width: 100%;
            height: 2px;
            background: $cl_red;
            position: absolute;
            top: -11px;
            left: 0;
        }
        &:after {
            content: '';
            width: 100%;
            height: 35px;
            background: #f3e8e833;
            position: absolute;
            top: -9px;
            left: 0px;
        }
    }
}

.cs {
    padding: 50px 0 0 0;
    .cs_one {
        margin-bottom: 50px;
        border: 1px solid $cl_line;
        border-radius: 3px;
        position: relative;
        text-align: center;
        .cs_price {
            position: absolute;
            top: 0px;
            right: -29px;
            background: url(../images/gia.png) no-repeat;
            text-align: center;
            h3 {
                color: $cl_white;
                padding: 14px 44px;
            }
        }
        img {
            display: block;
            margin: auto;
            margin-top: 25px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            transition: 0.9s;
        }
        p.text-1 {
            text-align: justify;
            height: 70px;
            overflow: hidden;
            margin: 0 20px;
        }
        a {
            margin-left: 20px;
            margin-bottom: 20px;
        }
        .cs_row {
            clear: both;
            border-top: 1px solid $cl_line;
            border-bottom: 1px solid $cl_line;
            margin-bottom: 35px;
            .col-4 {
                margin: 10px 0;
                h5,
                p {
                    margin: 0;
                }
                &.cs_col2 {
                    border-right: 1px solid $cl_line;
                    border-left: 1px solid $cl_line;
                }
            }
        }
        button {
            height: 39px;
            background: $cl_red;
            width: 165px;
            margin-bottom: 35px;
        }
        &:hover {
            img {
                transform: rotateY(360deg);
            }
            button {
                color: $cl_red;
                border: 1px solid $cl_red;
                background: $cl_white;
            }
        }
    }
    .cs_adv,
    .cs_bas {
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: none;
    }
    .show_ {
        opacity: 1;
        visibility: visible;
        position: unset;
        display: flex;
    }
}

.dc {
    background: url(../images/DetailKHoaHoc_03.png) no-repeat center;
    height: 330px;
    .hd_bg {
        background: #00000005;
    }
    .dc_box {
        padding: 36px 96px 43px 96px;
        .dc_img {
            position: relative;
            .dc_bg {
                width: 378px;
                height: 250px;
                background: #dcdddd;
                position: absolute;
            }
            img {
                position: absolute;
            }
        }
        .dc_text {
            h4,
            h3,
            .text {
                color: $cl_white;
            }
            color: $cl_white;
            padding-left: 430px;
            position: relative;
            h3 {
                margin-bottom: 30px;
            }
            p {
                margin: 0;
                span {
                    width: 105px;
                    height: auto;
                    display: inline-block;
                }
            }
            h4 {
                margin: 25px 0;
                span {
                    font-size: 14px;
                    text-transform: initial;
                }
            }
        }
    }
}

.breadcrumb {
    background: $cl_white;
    padding: 15px 96px;
    li {
        color: $cl_gray2;
        a {
            color: $cl_gray2;
        }
    }
}

.dc1 {
    ol {
        li.dc1_li {
            list-style-type: unset;
            position: relative;
            cursor: pointer;
            width: fit-content;
            span {
                position: relative;
                &::before {
                    content: '\f0d8';
                    font-family: 'Font Awesome\ 5 Free';
                    font-weight: 900;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &::after {
                    content: '\f0d7';
                    font-family: 'Font Awesome\ 5 Free';
                    font-weight: 900;
                }
            }
            &:hover {
                color: $cl_red2;
            }
        }
    }
    ul {
        li {
            list-style-type: square;
        }
    }
    button {
        margin-bottom: 38px;
    }
}

.showicon {
    &::before {
        opacity: 1 !important;
        visibility: visible !important;
    }
    &::after {
        opacity: 0;
        visibility: hidden;
    }
}

.changecolor {
    color: #428bdc;
}

button.btn_ {
    height: 39px;
    background: $cl_red;
    width: 165px;
    color: $cl_white;
    &:hover {
        color: $cl_red;
        background: $cl_white;
        border: 1px solid $cl_red;
    }
}

.bd {
    padding: 0 111px;
    small {
        color: $cl_gray2;
    }
    img {
        display: block;
        margin: 30px auto;
    }
}

.bd_nav {
    h4 {
        border-bottom: 2px solid $cl_line;
        padding-bottom: 25px;
        position: relative;
        &:before {
            content: '';
            width: 50%;
            height: 2px;
            background: $cl_red;
            position: absolute;
            left: 0px;
            bottom: -2px;
        }
    }
    ul {
        padding-left: 19px;
        li {
            list-style-type: square;
            a {
                color: $cl_gray1;
                &:hover {
                    color: $cl_blue1;
                }
            }
        }
    }
}

.bd2 {
    padding: 0 111px;
}

.bd3 {
    padding: 0 111px;
    ul {
        padding-left: 19px;
        li {
            list-style-type: square;
            a {
                color: $cl_gray;
                &:hover {
                    color: $cl_blue1;
                }
            }
        }
    }
}

.lkg {
    padding-top: 45px;
    p {
        float: right;
    }
    table {
        thead {
            text-transform: uppercase;
        }
        border: 1px solid $cl_line;
        text-align: center;
        color: $cl_gray;
        margin-bottom: 50px;
        padding: 0 60px;
        button {
            width: 110px;
            text-transform: uppercase;
            font-size: 14px;
            margin: auto;
            margin-top: 5px;
        }
    }
}

.lkg_bgFull {
    width: 100%;
    height: 100%;
    background: #252222ad;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.lkg_show {
    visibility: visible !important;
    opacity: 1 !important;
    transform: scale(1);
}

.lkg_form {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 1001;
    padding: 30px;
    width: 800px;
    height: 650px;
    background: $cl_white;
    position: fixed;
    top: calc(50% - 325px);
    left: calc(50% - 400px);
    border-radius: 10px;
    i {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
    h3 {
        margin-bottom: 30px;
    }
    input {
        border: none;
        border-bottom: solid 1px $cl_line;
        margin: 0 0 15px;
        color: #212529;
        outline: none;
        &::placeholder {
            color: $cl_gray2;
        }
        &.lkg_ip {
            width: 100%;
            &.border_ {
                border-bottom: 2px solid $cl_red1 !important;
            }
        }
    }
    textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $cl_line;
        &::placeholder {
            color: $cl_gray2;
        }
     }
    button {
        margin-top: 20px;
    }
}