@media screen and (max-width: 1266px) {
    .st8 {
        .st8_item .st8_text {
            padding-left: unset;
            width: unset;
        }
        .st8_item .st8_img {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 1199px) {
    header {
        .hd_mn,
        .hd_menu {
            height: 63.19px;
            img {
                width: 60%;
            }
            .navbar-collapse {
                ul {
                    li {
                        a {
                            padding: 0 0 0 20px !important;
                        }
                    }
                }
            }
        }
    }
    .st2 {
        padding-top: 1px;
        padding-bottom: 45px;
        background: #ecf0f5;
        border-bottom: 1px #d5dce5;
        border-top: 1px #d5dce5;
        .h2_title:after {
            background: #ecf0f5;
        }
        .st2_col {
            padding-top: 40px;
            padding-right: 10px;
            width: fit-content;
            margin: auto;
            .text {
                padding-left: 45px;
            }
        }
        .st2_img {
            background: url(../images/st2a_07.png) center no-repeat;
            height: 500px;
        }
        p.st_textf {
            margin-bottom: 0;
        }
        .st2_col3 {
            padding-right: 0px;
            padding-left: 10px;
            width: fit-content;
            margin: auto;
        }
    }
    .blogSt2 {
        margin-top: 46px;
        position: relative;
        .bl2_line {
            display: none;
        }
        .blogSt2_item {
            .bl2_box {
                margin: 25px 0 10px 0;
                .bl2_text {
                    max-width: unset;
                    float: unset;
                    padding-left: unset;
                }
                margin: 25px 0; // padding-top: 50px;
                .bl2_img {
                    margin-bottom: 20px;
                    margin-right: 20px;
                }
                ul {
                    display: none;
                }
                .bl2_circle {
                    display: none;
                }
                .bl2_geometry {
                    bottom: 0;
                    top: unset;
                    background: unset;
                    left: unset;
                    right: 0;
                }
            }
        }
    }
    .gt2 .gt2_boxImg .thumb,
    .gv2 .gv2_box {
        width: 50%;
    }
    .lkg {
        p {
            float: unset;
        }
        table {
            border: unset;
            padding: 0px;
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }
            thead {
                tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
            }
            td,
            th {
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
                white-space: normal;
                text-align: left;
                &::before {
                    position: absolute;
                    top: 12px;
                    left: 6px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                    content: attr(data-title);
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    header {
        .hd_top {
            span {
                &.addr {
                    display: none;
                }
            }
        }
        .hd_mn {
            height: 56px;
        }
        .hd_menu {
            img{
                width: auto;
            }
            height: 56px;
            .container {
                margin: 0;
                padding: 0;
                position: relative;
                .navbar {
                    background: $cl_white;
                    padding: 0px;
                    button {
                        margin: 8px 16px;
                    }
                    a.navbar-brand {
                        position: absolute;
                        top: 2px;
                        right: 0;
                    }
                    a {
                        max-width: 160px;
                    }
                    .navbar-collapse {
                        ul {
                            width: 100%;
                            background: $cl_white;
                            li {
                                padding: 20px;
                                a {
                                    padding: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .st7 .st7_pd .col-lg-3 {
        margin-bottom: 15px;
    }
    .lkg_form {
        width: 400px;
        height: 700px;
        top: calc(50% - 325px);
        left: calc(50% - 200px);
    }
    @media screen and (max-width: 767px) {
        .bd,
        .bd3 {
            padding: 0 15px;
        }
        .breadcrumb {
            padding: 15px 15px;
        }
        .st3_sld .owl-st3_sld .owl-nav .owl-prev,
        .st3_sld .owl-st3_sld .owl-nav .owl-next {
            font-size: unset;
        }
        .gt2 .gt2_boxImg .thumb,
        .gv2 .gv2_box {
            width: 100%;
        }
        .gt1 {
            padding: 38px 10px 50px 10px;
        }
        .blogSt2 {
            .bl2_img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .lkg_form {
        border-radius: unset;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 5px;
        h3 {
            display: none;
        }
        .row {
            display: none;
        }
    }
    .gt1 .gt1_content {
        padding: 10px 50px;
    }
    .st_box {
        .st_icon {
            display: none;
        }
        .st_text {
            padding-left: 0px !important;
        }
    }
    header {
        .hd_top {
            span {
                margin-left: 10px;
            }
        }
    }
    .st2,
    .st6 {
        h2 {
            margin-bottom: 80px;
            &::after {
                top: 69px !important;
            }
            &:before {
                top: 80px !important;
            }
        }
    }
    .st4 {
        .h2_title:after {
            top: 68px;
        }
        .h2_title::before {
            top: 79px;
        }
    }
    .row.cs_adv {
        opacity: 1;
        visibility: visible;
        position: unset;
        display: flex;
    }
    .dc .dc_box {
        padding: 10px;
    }
    .dc1 {
        padding: 0 10px;
    }
    .breadcrumb {
        padding: 15px 10px;
    }
}